<ion-view view-title="flosi" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>Flosi</h1>
    </div>
    <div class="container" >
      <div class="progress-wrapper">
        <div class="progress-user-number">{{current}} / {{max}}</div>
        <div class="progress-user">{{userName}} </div>
        <div
          round-progress
          max="max"
          current="current"
          color="#45ccce"
          bgcolor="#eaeaea"
          radius="100"
          stroke="15"
          semi="true"
          rounded="true"
          clockwise="true"
          responsive="true"
          duration="800"
          animation="easeInOutQuart">

        </div>
      </div>
      <div class="progress-wrapper-friend">

        <div class="progress-friend-number">{{current}} / {{max}}</div>
        <div class="progressFriend">{{friendName}}</div>
        <div id="FriendSemiCircle"
          round-progress
          max="max"
          current="current"
          color="#D04139"
          bgcolor="#eaeaea"
          radius="100"
          stroke="15"
          semi="true"
          rounded="true"
          clockwise="true"
          responsive="true"
          duration="800"
          animation="easeInOutQuart">

        </div>
      </div>
    </div>
    <div class="buttonDash">
    <button class="button button-assertive" id="taskDoneDash" ng-click="increment()">
      Plus 1
    </button>
      </div>


  </ion-content>
</ion-view>
