

<ion-view view-title="flosi" hide-nav-bar="true" class="intro">

  <ion-view view-title="Intro" ng-controller="MainCtrl">

    <ion-slide-box >

      <ion-slide id="slide1">

        <div id="logo">
          Flosi
        </div>
        <div class="introWelcome">Build New Habits</div>
        <div class="introWelcome">Challenge Your Friends</div>

        <div  id="learnHow">Learn how

          <div class="ion-chevron-left"></div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="intro-small-header">
          Flosi
        </div>
        <div id="list">

          <ul>
            <li>Choose something you'd like to do everyday.</li>
            <li>Challenge a Friend to do it with you.</li>
            <li>Compete in a 21 day Challenge and see who wins!</li>
          </ul>
        </div>
      </ion-slide>

      <ion-slide id="startAppSlide">

        <div class="introWelcome">Let's Get Started</div>
        <div style="width: 100%;">
        <button id="facebookButton" class="button button-assertive" ng-click="login()">
          Facebook login
        </button>
        </div>


      </ion-slide>
    </ion-slide-box>
  </ion-view>

