<ion-view view-title="flosi" hide-nav-bar="true" class="intro">

  <ion-view view-title="Intro">

    <ion-slide-box >

      <ion-slide id="slide1">

        <div id="logo">
          Flosi
        </div>
        <div class="introWelcome">Build New Habits</div>
        <div class="introWelcome">Challenge Your Friends</div>

        <div  id="learnHow">Learn how

          <div class="ion-chevron-right"></div>
        </div>
      </ion-slide>

      <ion-slide>

        <div id="list">

          <ul>
            <li>Choose a Task</li>
            <li>Challenge a Friend</li>
            <li>Compete in a 21 day Challenge</li>
          </ul>
        </div>
      </ion-slide>

      <ion-slide id="startAppSlide">

        <div class="introWelcome">Let's Get Started</div>
        <button class="button button-assertive" ng-click="startApp()">
          flosi
        </button>

      </ion-slide>
    </ion-slide-box>
  </ion-view>

