<ion-modal-view class = "mymodal">


  <ion-content scroll="false">
    <div class="splash-page" style="height: 400px;">

    <!--<div class="padding logo">-->
      <!--<h1>Flosi</h1>-->
    <!--</div>-->

    <div class="introWelcome">Who do you want to Challenge?</div>

<form
    name="friendForm"
    id="forFriend"
    ng-submit="saveFriendInfo(form.friendName, form.friendEmail)">

  <input class="email-input" type="email" placeholder=" Friends Email" ng-model="form.friendEmail" required/>
  <input class="email-input" type="text" placeholder=" Friends Name" ng-model="form.friendName"  required/>

  <button
    type="submit"
    class="button button-assertive"
    ng-disabled="friendForm.$invalid"
    id="nameEmailSubmit">
    Submit
  </button>

</form>


  </div>
  </ion-content>



</ion-modal-view>
