<html>
<ion-view view-title="flosi" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>Flosi</h1>
    </div>

    <div class="introWelcome">What would you like to do?</div>

<form
  name="taskForm"
  ng-submit="saveTask(form.task)">

  <input
  name="task"
    class="email-input"
    type="text" placeholder="Task"
    ng-model="form.task"
    required
    ng-minlength="2"
    ng-maxlength="15">
  <p ng-show="taskForm.task.$error.minlength"
     class="help-block"> Be a little more specific.
  </p>

  <p ng-show="taskForm.task.$error.maxlength"
     class="help-block">Whoa now that's a bit too long.
    </p>

  <button
    type="submit"
    class="button button-assertive"
    id="nameEmailSubmit"
    ng-disabled="taskForm.$invalid || taskForm.task.$error.maxlength || taskForm.task.$error.minlength">
    Submit
  </button>
</form>



  </ion-content>
</ion-view>
</html>
