<ion-view view-title="flosi" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>Flosi</h1>
    </div>



<form
  name="userEmailForm"
  ng-submit="signinEmailName(form.name, form.email)">

  <input
    class="email-input"
    type="email"
    name="userEmail"
    placeholder=" Your Email"
    ng-model="form.email" required/>
  <p ng-show="userEmailForm.userEmail.$invalid && !userEmailForm.userEmail.$pristine"
     class="help-block"> Email address goes here :)
  </p>
  <input class="email-input" type="text" placeholder=" Your Name" ng-model="form.name"  required/>

  <div style="width: 100%; margin: auto 0;">
    <button
      type="submit"
      class="button button-assertive"
      id="nameEmailSubmit"
      ng-disabled="userEmailForm.$invalid">
      Submit
    </button>
  </div>

</form>



  </ion-content>
</ion-view>
